{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Study Center</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'intern/dist/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{% static 'intern/docs/examples/dashboard/dashboard.css' %}" rel="stylesheet">
	<link href="{% static 'intern/docs/examples/theme/theme.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'intern/docs/examples/navbar-fixed-top.css' %}">

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="{% static 'intern/docs/assets/js/ie-emulation-modes-warning.js' %}"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <style type="text/css">
      	.header{	padding-right: 15px;
      		border-bottom: 1px solid #e5e5e5;}
      </style>

      <script language="javascript" type="text/javascript">
      	function resizeIframe(obj){
      		obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
      	}
      </script>

      </head>

      <body>

      	<!-- Fixed navbar -->
      	<nav class="navbar navbar-default navbar-fixed-top">
      		<div class="container">
      			<div class="navbar-header">
      				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      					<span class="sr-only">Toggle navigation</span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="./">Interns Platform</a>
      			</div>
      			<div id="navbar" class="navbar-collapse collapse">
      				<ul class="nav navbar-nav">
      					<li><a href="{% url 'intern:index' %}">Home</a></li>
      					<li><a href="{% url 'intern:file_center' %}">File Center</a></li>
      					<li class="active"><a href="./">Study Center</a></li>
      					<li class="dropdown">
      						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
      						<ul class="dropdown-menu" role="menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li class="dropdown-header">Nav header</li>
      							<li><a href="#">Separated link</a></li>
      							<li><a href="#">One more separated link</a></li>
      						</ul>
      					</li>
      				</ul>
      				<ul class="nav navbar-nav navbar-right">
      					<li><a href="./">Login</a></li>
      					<li><a href="./">Help</a></li>
      					<li><a href="./">Contact us<span class="sr-only">(current)</span></a></li>
      				</ul>
      			</div><!--/.nav-collapse -->
      		</div>
      	</nav>

      	<div id="page-container" class="container">
      		<p>this is study center</p>
      		<div class="row clearfix">
      			<div class="col-md-3">
      				<div id="profilecard" class="row">
      					<div class="col-md-8">
      						<p class="help-block">this is your profile card.</p>
      						<div class="panel panel-info">
      							<div class="panel-heading">
      								<h3 class="panel-title">Your Username</h3>
      							</div>
      							<div class="panel-body">
      								<p>my profile card.</p>
      							</div>
      						</div>
      					</div>
      				</div>
      				<div id="blog_action" class="row">
      					<div class="col-md-8">
      						<ul class="list-group">
      							<a class="list-group-item" href="{% url 'intern:add_blog' %}" target="detail">Add more</a>
      						</ul>
      					</div>
      				</div>
      				<div id="contents_index" class="row">
      					<div class="col-md-8">
      						<p class="help-block">this is contents of blogs.</p>
                  {% if latest_blog_list %}
        						<ul class="list-group">
                    {% for blog in latest_blog_list %}
        							<a class="list-group-item" href="{% url 'intern:detail' blog.id %}" target="detail">{{ blog.title }}</a>
        						{% endfor %}
        						</ul>
                  {% else %}
                  <p>No blog is available.</p>
                  {% endif %}
      					</div>
      				</div>
      			</div>
      			<div class="col-md-8">
      				<p class="help-block">this is the place where article exists.</p>
      				{% if blog_id %}
      					<iframe src="{% url 'intern:detail' blog_id %}" name="detail" height="100%" width="100%" frameborder="0" scrolling="no" onload='javascript:resizeIframe(this)'></iframe>
      				{% else %}
      					<iframe src="" name="detail" height="100%" width="100%" frameborder="0" scrolling="no" onload='javascript:resizeIframe(this)'></iframe>
      				{% endif %}
      			</div>
      		</div>
      	</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'intern/dist/js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'intern/docs/assets/js/vendor/holder.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'intern/docs/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
